style {
  width: 70%;
  display: block;
  border: 1px solid black;
  white-space: pre;
  margin: 15px;
}

* {
  transition: all 0.5s;
}

.stylebox {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#flexbox-practice {
  margin-top: 30px;
}

.flexbox-cell {
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}

.red {
  background-color: indianred;
}

.yellow {
  background-color: khaki;
}

.blue {
  background-color: royalblue;
}